$height-screenshot: 289px;

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  height: 70%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius:5px;
  // background-color: slateblue;
  // background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  display: flex;
  // border: 2px solid black;
}

*{
--ion-grid-width-lg: 900px;

}


ion-header, ion-title{
  // --ion-background-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
  --ion-background-color:#4f3a8f;
  color: linen;
}


#container a {
  text-decoration: none;
}

ion-row{
  width: 100%;
  height: 100%;
}
#phone .img{
  position: absolute;
  height: 400px;
  right: 84px;
  top: 50%;
  transform: translateY(-50%);
}

ion-row:nth-of-type(2){
  height: 4em;
}

.separator{
  background-color: rgba(255, 255, 255, 0.90);
}

#disclaimer{
  color: rgba(0, 0, 0, 0.8);
  margin-top: 100px;
}

#logo{
  border-radius: 5px;
}

fieldset{
  width: 70%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  color:  rgba(255, 255, 255, 0.90);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.phoneContent{

  position: absolute;
  height: 296px;
  top: 47%;
  width: 192.2717px;
  right: 191px;
  transform: translateY(-50%) skewX(-21deg);
  z-index: -1;


}

.phoneContentTicTac{
  position: absolute;
  height: 327px;
  top: 47%;
  right: 194px;
  transform: translateY(-50%) skewX(-21deg);
  z-index: -1;
}
#arrowNext{
  font-size: 150px;
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  top: 50%;
  right: -20%;

  transform: translateY(-50%);

}
#arrowPrevious{
  font-size: 150px;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

ion-back-button{
  color: white;
}

@media screen and (max-width:1550px){
  #container {
    width: 80%;
  }
}
@media screen and (max-width:1200px){
  #container {
    width: 85%;
  }
  fieldset{
    width: 80%;
  }
  .phoneContent{
  right: 145px;
}
  #phone .img{
    right: 35px;
  }
}
@media screen and (max-width:992px){
  #container {
    width: 100%;
  }
  #arrowPrevious, #arrowNext {
    display: none;
  }
}

@media screen and (max-width:768px){
 .phoneCol, #disclaimer{
   display: none;
 }
}
@media screen and (max-width:568px){
  fieldset{
    width: 90%;
  }
 }

